:root {
    --black: #000;
    --dark-one: #1A1A2E;
    --dark-two: #16213E;
    --dark-three: #0F3460;
    --pink: #E94560;
    --purple: #443E7B;
    --white: #fff;
    --gray: #848484;
    --green: #38E54D;
    --orange: #FFBF00
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--white);
    color: var(--gray);
    font-family: 'Roboto', sans-serif
}

.container {
    margin: 0 auto;
    max-width: 46rem;
    width: 90%;
}